body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: white;
  background-color: rgba(105, 83, 115, 0.585); }
  body .container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    body .container #heading {
      text-align: center;
      font-size: 30px;
      padding: 10px; }
    body .container #header {
      margin-bottom: 20px; }
      body .container #header #form {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        body .container #header #form #textInput {
          color: white;
          padding-left: 10px;
          border-radius: 25px;
          background-color: rgba(148, 148, 148, 0.347); }
          body .container #header #form #textInput:hover {
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.421);
            background-color: rgba(245, 222, 179, 0.265); }
        body .container #header #form #addButton {
          border-radius: 25px;
          color: white;
          background-color: rgba(148, 148, 148, 0.347); }
          body .container #header #form #addButton:hover {
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.421);
            background-color: rgba(245, 222, 179, 0.265); }
        body .container #header #form #sortButton {
          font-size: 12px;
          top: 20px;
          left: 82%;
          border-radius: 25px;
          color: rgba(255, 255, 255, 0.755);
          background-color: rgba(148, 148, 148, 0.347); }
          body .container #header #form #sortButton:hover {
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.421);
            background-color: rgba(245, 222, 179, 0.265); }
    body .container #main #myUl {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none; }
      body .container #main #myUl :nth-child(even) {
        background-color: rgba(0, 0, 0, 0.109); }
      body .container #main #myUl #listItem {
        border-radius: 25px;
        cursor: context-menu;
        position: relative;
        width: 100%;
        padding: 15px; }
        body .container #main #myUl #listItem :nth-child(even) {
          background-color: rgba(255, 255, 255, 0); }
        body .container #main #myUl #listItem #checkButton {
          position: absolute;
          right: 10px;
          border-radius: 25px;
          background-color: rgba(148, 148, 148, 0.347);
          color: white; }
          body .container #main #myUl #listItem #checkButton:hover {
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.421);
            background-color: rgba(245, 222, 179, 0.265); }
        body .container #main #myUl #listItem #deleteButton {
          position: absolute;
          right: 55px;
          border-radius: 25px;
          background-color: rgba(148, 148, 148, 0.347);
          color: white; }
          body .container #main #myUl #listItem #deleteButton:hover {
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.421);
            background-color: rgba(245, 222, 179, 0.265); }
    body .container #completed #finishedUl {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      padding-top: 50px;
      list-style: none; }
      body .container #completed #finishedUl :nth-child(odd) {
        background-color: rgba(241, 241, 241, 0.109); }
      body .container #completed #finishedUl #finishedListItem {
        border-radius: 25px;
        cursor: context-menu;
        position: relative;
        width: 100%;
        padding: 10px;
        padding-left: 20px;
        text-decoration: line-through;
        color: rgba(72, 67, 67, 0.327); }
        body .container #completed #finishedUl #finishedListItem :nth-child(even) {
          background-color: rgba(255, 255, 255, 0); }
        body .container #completed #finishedUl #finishedListItem #checkButton {
          position: absolute;
          right: 10px;
          border-radius: 25px;
          background-color: rgba(148, 148, 148, 0.347);
          color: white; }
          body .container #completed #finishedUl #finishedListItem #checkButton:hover {
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.421);
            background-color: rgba(245, 222, 179, 0.265); }
        body .container #completed #finishedUl #finishedListItem #deleteButton {
          position: absolute;
          right: 55px;
          border-radius: 25px;
          background-color: rgba(148, 148, 148, 0.347);
          color: white; }
          body .container #completed #finishedUl #finishedListItem #deleteButton:hover {
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.421);
            background-color: rgba(245, 222, 179, 0.265); }

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 20%;
    padding-right: 20%; } }
