body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: white;
  background-color: rgba(74, 74, 74, 0.367); }
  body .container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    body .container #heading {
      text-align: center;
      font-size: 30px;
      padding: 10px; }
    body .container #header {
      position: relative;
      width: 100%;
      margin-bottom: 20px; }
      body .container #header #textInput {
        color: white;
        padding-left: 10px;
        border-radius: 25px;
        background-color: rgba(128, 128, 128, 0.347); }
        body .container #header #textInput:hover {
          box-shadow: 2px 2px rgba(0, 0, 0, 0.421);
          background-color: rgba(245, 222, 179, 0.265); }
      body .container #header #addButton {
        border-radius: 25px;
        color: white;
        background-color: rgba(128, 128, 128, 0.347); }
        body .container #header #addButton:hover {
          box-shadow: 2px 2px rgba(0, 0, 0, 0.421);
          background-color: rgba(245, 222, 179, 0.265); }
      body .container #header #sortButton {
        border-radius: 25px;
        color: white;
        background-color: rgba(128, 128, 128, 0.347); }
        body .container #header #sortButton:hover {
          box-shadow: 2px 2px rgba(0, 0, 0, 0.421);
          background-color: rgba(245, 222, 179, 0.265); }
    body .container #main #myUl {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none; }
      body .container #main #myUl :nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.041); }
      body .container #main #myUl #listItem {
        border-radius: 25px;
        cursor: context-menu;
        position: relative;
        width: 100%;
        padding: 15px; }
        body .container #main #myUl #listItem :nth-child(odd) {
          background-color: rgba(255, 255, 255, 0); }
        body .container #main #myUl #listItem #closeBtn {
          position: absolute;
          right: 10px;
          border-radius: 25px;
          background-color: rgba(128, 128, 128, 0.347);
          color: white; }
          body .container #main #myUl #listItem #closeBtn:hover {
            box-shadow: 2px 2px rgba(0, 0, 0, 0.421);
            background-color: rgba(245, 222, 179, 0.265); }
        body .container #main #myUl #listItem #checkBtn {
          position: absolute;
          right: 50px;
          border-radius: 25px;
          background-color: rgba(128, 128, 128, 0.347);
          color: white; }
          body .container #main #myUl #listItem #checkBtn:hover {
            box-shadow: 2px 2px rgba(0, 0, 0, 0.421);
            background-color: rgba(245, 222, 179, 0.265); }
      body .container #main #myUl .lineThrough {
        background-color: blue; }
    body .container #main #finishedUl {
      border: 1px solid red; }
