$textColor: white; 
$backgroundColor: rgba(105, 83, 115, 0.585);
$buttonsBgColor: rgba(148, 148, 148, 0.347);

//hover
$boxShadow: rgba(0, 0, 0, 0.421);
$hoverBgColor: rgba(245, 222, 179, 0.265);


@mixin hover {
    box-shadow: 2px 2px 2px $boxShadow;
    background-color: $hoverBgColor;
} 