$textColor: white; 
$backgroundColor: rgba(74, 74, 74, 0.367);


//hover
$boxShadow: rgba(0, 0, 0, 0.421);
$hoverBgColor: rgba(245, 222, 179, 0.265);


@mixin hover {
    box-shadow: 2px 2px $boxShadow;
    background-color: $hoverBgColor;
} 