@import 'colors';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: $textColor;
    background-color: $backgroundColor;

    .container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;

        #heading {
            text-align: center;
            font-size: 30px;
            padding: 10px;
        }
    
        #header {
            position: relative;
            width: 100%;
            margin-bottom: 20px;

            #textInput {
                color: $textColor;
                padding-left: 10px;
                border-radius: 25px;
                background-color: rgba(128, 128, 128, 0.347);
                
                &:hover {
                    @include hover;
                }
                
            }

            #addButton {
                border-radius: 25px;
                color: white;
                background-color: rgba(128, 128, 128, 0.347);

                &:hover {
                    @include hover;
                }
            }

            #sortButton {
                border-radius: 25px;
                color: white;
                background-color: rgba(128, 128, 128, 0.347);

                &:hover {
                    @include hover;
                }
            }
        } 
    
        #main {

            #myUl {
                display: flex;
                flex-direction: column;
                margin: 0; 
                padding: 0;
                list-style: none;

                :nth-child(odd) {
                    background-color: rgba(0, 0, 0, 0.041);
                }
    
                #listItem{
                    border-radius: 25px;
                    cursor: context-menu;
                    position: relative;
                    width: 100%;
                    padding: 15px;
                    
                    :nth-child(odd) {
                        background-color: rgba(255, 255, 255, 0);
                    }
    
                    #closeBtn {
                        position: absolute;
                        right: 10px;
                        border-radius: 25px;
                        background-color: rgba(128, 128, 128, 0.347);
                        color: white;
                        
                        &:hover {
                            @include hover;
                        }
                    }
                    #checkBtn {
                        position: absolute;
                        right: 50px;
                        border-radius: 25px;
                        background-color: rgba(128, 128, 128, 0.347);
                        color: white;
    
                        &:hover {
                            @include hover;
                        }
                    }
                }

                .lineThrough {
                    background-color: blue;
                }
            }

            #finishedUl {
                border: 1px solid red;
            }
        }
    }
}