@import 'colors';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: $textColor;
    background-color: $backgroundColor;

    .container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;

        #heading {
            text-align: center;
            font-size: 30px;
            padding: 10px;
        }
    
        #header {
            margin-bottom: 20px;

            #form {
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                #textInput {
                    color: $textColor;
                    padding-left: 10px;
                    border-radius: 25px;
                    background-color: $buttonsBgColor;
                    
                    &:hover {
                        @include hover;
                    }
                    
                }
    
                #addButton {
                    border-radius: 25px;
                    color: $textColor;
                    background-color: $buttonsBgColor;
    
                    &:hover {
                        @include hover;
                    }
                }

                #sortButton {
                    font-size: 12px;
                    top: 20px;
                    left: 82%;
                    border-radius: 25px;
                    color: rgba(255, 255, 255, 0.755);
                    background-color: $buttonsBgColor;
        
                    &:hover {
                        @include hover;
                    }
                }
            }
        } 
    
        #main {

            #myUl {
                display: flex;
                flex-direction: column;
                margin: 0; 
                padding: 0;
                list-style: none;

                :nth-child(even) {
                    background-color: rgba(0, 0, 0, 0.109);
                }
    
                #listItem{
                    border-radius: 25px;
                    cursor: context-menu;
                    position: relative;
                    width: 100%;
                    padding: 15px;
                    
                    :nth-child(even) {
                        background-color: rgba(255, 255, 255, 0);
                    }
    
                    #checkButton {
                        position: absolute;
                        right: 10px;
                        border-radius: 25px;
                        background-color: $buttonsBgColor;
                        color: $textColor;
                        
                        &:hover {
                            @include hover;
                        }
                    }

                    #deleteButton {
                        position: absolute;
                        right: 55px;
                        border-radius: 25px;
                        background-color: $buttonsBgColor;
                        color: $textColor;
                        
                        &:hover {
                            @include hover;
                        }
                    }
                }
            }
        }

        #completed {

            #finishedUl {
                display: flex;
                flex-direction: column;
                margin: 0; 
                padding: 0;
                padding-top: 50px;
                list-style: none;

                :nth-child(odd) {
                    background-color: rgba(241, 241, 241, 0.109);
                }
    
                #finishedListItem{
                    border-radius: 25px;
                    cursor: context-menu;
                    position: relative;
                    width: 100%;
                    padding: 10px;
                    padding-left: 20px;
                    text-decoration: line-through;
                    color: rgba(72, 67, 67, 0.327);
                    
                    :nth-child(even) {
                        background-color: rgba(255, 255, 255, 0);
                    }
    
                    #checkButton {
                        position: absolute;
                        right: 10px;
                        border-radius: 25px;
                        background-color: $buttonsBgColor;
                        color: $textColor;
                        
                        &:hover {
                            @include hover;
                        }
                    }

                    #deleteButton {
                        position: absolute;
                        right: 55px;
                        border-radius: 25px;
                        background-color: $buttonsBgColor;
                        color: $textColor;
                        
                        &:hover {
                            @include hover;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1024px){
    .container{
        padding-left: 20%;
        padding-right: 20%;
    }
}